{% set custom_class = "bg-white" %}

<section class="{{ block.slug ?? 'single-testimonial' }} {{ custom_class }}">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "" %}
    
    <div class="container">
        <div class="{{ pt }} {{ pb }}">            
            <div class="bg-[#F4EDE9] relative flex max-lg:flex-col items-stretch justify-between overflow-hidden text-center h-full p-xl max-lg:px-[1.25rem] lg:h-[30.4375rem]">                        
                <div class="flex flex-col justify-between gap-sm lg:max-w-[49.9375rem] h-auto max-lg:pb-[2rem]">
                    <div class="flex flex-col items-start text-left gap-sm">           
                        {% if fields.logo.url %}
                            <div class="h-[1.75rem] w-auto">
                                <img class="object-contain w-full h-full" src="{{ fields.logo.url }}" />
                            </div>
                        {% endif %}
                        <h4>{{ fields.quote|striptags }}</h4>
                    </div>
                    <div class="flex items-center gap-xxs">
                        {% if fields.author.image %}
                            <div class="w-[4rem] h-[4rem]">
                                <img class="w-full object-cover h-full" src="{{ fields.author.image.url }}" />
                            </div>
                        {% endif %}

                        <div class="flex flex-col justify-center gap-[0.25rem] flex-1 w-full text-left">
                            {% if fields.author.text %}
                                <p class="text-[0.875rem] font-secondary-600 leading-[140%]">{{ fields.author.text }}</p>
                            {% endif %}
                            
                            {% if fields.author.subtext %}
                                <p class="text-[0.75rem] text-[#57514E] font-tertiary leading-[140%]">{{ fields.author.subtext }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="h-auto flex lg:items-end items-start w-full lg:justify-center text-left lg:border-l max-lg:border-t border-solid border-black pl-md max-lg:pl-0 max-lg:pt-[2rem] lg:w-[18.5625rem]">
                    <div class="flex flex-col gap-xxs items-start">
                        <div class="font-primary ~text-[5rem]/[6.25rem] text-black leading-[75%] flex items-start justify-end">
                            {{ fields.stats.number }}
                            <svg class="{% if fields.stats.trend == "down" %} -scale-100 {% endif %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <circle cx="12" cy="12" r="12" fill="#CC5500"/>
                                <path d="M12.3536 5.64645C12.1583 5.45118 11.8417 5.45118 11.6464 5.64645L8.46447 8.82843C8.2692 9.02369 8.2692 9.34027 8.46447 9.53553C8.65973 9.7308 8.97631 9.7308 9.17157 9.53553L12 6.70711L14.8284 9.53553C15.0237 9.7308 15.3403 9.7308 15.5355 9.53553C15.7308 9.34027 15.7308 9.02369 15.5355 8.82843L12.3536 5.64645ZM11.5 18C11.5 18.2761 11.7239 18.5 12 18.5C12.2761 18.5 12.5 18.2761 12.5 18L12 18L11.5 18ZM12 6L11.5 6L11.5 18L12 18L12.5 18L12.5 6L12 6Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="font-secondary leading-[140%] ~text-[1rem]/[0.75rem] text-black uppercase">{{ fields.stats.text }}</div>
                        <div class="font-secondary leading-[140%] ~text-[1rem]/[0.75rem] text-black">{{ fields.stats.subtext }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>