{% set custom_class = "bg-white" %}

<section class="{{ block.slug ?? 'cta-hero' }} {{ custom_class }}">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-lg" %}
    {% set fg_color = fields.fg_color == "white" ? "text-white"  : "text-black" %}

    <div class="container">
        <div class="{{ pt }} {{ pb }}">            
            <div class="bg-[#E09762] relative flex flex-col items-center justify-center overflow-hidden ~py-[3.53125rem]/[5.8125rem] px-[1.25rem] {% if fields.text_alignment == "left" %} lg:px-[5rem] lg:py-[7.5rem] {% else %} lg:p-[5.8125rem] {% endif %} min-h-[29.625rem] {% if fields.bg_theme == "image" %} dark bg-cover bg-center {% endif %}" style="{% if fields.bg_theme == "image" %} background-image: url({{ fields.bg_image.url }}) {% endif %}">
                {% if fields.bg_theme == "default" %}
                    {# <div class="absolute top-0 left-0 w-full h-full mix-blend-luminosity">
                        <img src="{{ function('svg', 'process-bg')}}" />
                    </div> #}
                    <div class="absolute top-0 left-0 w-full h-full">
                        <img src="{{ function('png', 'light-cta-hero-bg')}}" />
                    </div>
                {# {% else %}
                    <div class="absolute top-0 left-0 w-full h-full bg-black/40"></div> #}
                {% endif %}
          
                <div class="flex flex-col transition-top relative z-50 {% if fields.text_alignment == "center" %} text-center mx-auto items-center justify-center lg:max-w-[54.75rem] {% else %} text-left items-start w-full {% endif %}">
                    {% if fields.eyebrow %}
                        <div class="text-white font-tertiary text-[0.75rem] py-[0.25rem] px-[1.25rem] rounded-[2.375rem] ~mb-[1.5rem]/[1.75rem]" style="background: rgba(204, 85, 0, 0.80);">
                            {{ fields.eyebrow }}
                        </div>
                    {% endif %}
                    <div class="flex flex-col ~gap-[1.5rem]/[1.75rem] w-full">
                        {% if fields.heading.value|length > 0 %}
                            <div class="w-full max-md:flex max-md:flex-col max-md:gap-[0.75rem] relative {% if fields.text_alignment == "left" %} text-left {% else %} text-center {% endif %}">                        
                                {% include 'components/heading.twig' with {
                                    'class': 'main-title ' ~ fg_color,
                                    'indent': '<span class="max-md:hidden w-[12.5rem] h-[2.5rem] shrink-0"></span>',
                                    'value': fields.heading.value, 
                                    'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                    'has_custom_style': fields.heading.has_custom_style,
                                    'style': fields.heading.style,
                                    'to_words': true
                                } %}
                            </div>
                        {% endif %}

                        {% if fields.paragraph|length > 0 %}
                            <div class="flex flex-col gap-md max-w-[40.625rem] {% if fields.text_alignment == "left" %} items-start {% else %} items-center mx-auto {% endif %}">                            
                                <h6 class="{{ fg_color }}">{{ fields.paragraph|striptags }}</h6>                            
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>