{% set custom_class = "bg-white" %}

<section class="{{ block.slug ?? 'single-quote-text' }} {{ custom_class }}">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

    <div class="flex flex-col gap-[1rem] w-full">        
        {% if fields.paragraph|length %}
            <div class="flex gap-[1rem] items-stretch">
                <div class="bg-[#CC5500] w-[0.125rem] h-auto"></div>
                <h5 class="[&_p]:~text-[1.125rem]/[1.5rem] [&_p]:leading-[140%] [&_p]:text-black [&_p]:font-secondary">{{ fields.paragraph }}</h5>
            </div>
        {% endif %}
        <div class="flex flex-col gap-[0.25rem]">
            {% if fields.author|length %}
                <p class="!font-mono !mb-0 !text-[0.875rem] !leading-none">{{ fields.author }}</p>
            {% endif %}
            {% if fields.subtext|length %}
                <p class="!font-mono !mb-0 !text-[0.75rem] !leading-none">{{ fields.subtext }}</p>
            {% endif %}
        </div>
    </div>
</section>