{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}
{% set npt = fields.is_top_block ? 'pt-[5rem]' : pt %}

{% set custom_bg = "bg-white lg:max-h-screen1 overflow-visible1" %}

<section class="{{ block.slug }} {{ custom_bg }}" >
  {% if block.anchor %}
    <div class="section-anchor" id="{{ block.anchor | default(block.id) }}"></div>
  {% endif %}
        
  <div class="container relative z-10">
    <div class="{{ npt }} {{ pb }}">
      <div class="flex flex-col justify-between xl:gap-[3rem] transition-top-stagger1">
        <div class="flex max-xl:flex-col justify-between items-stretch ~gap-[2.5rem]/[3.5rem] relative">          
          <div class="flex-1 relative lg:sticky lg:top-[6.5625rem] lg:pb-[5vh] h-full 2xl:max-w-[24.8125rem] lg:max-w-[26.8125rem]">
            <h2>{{ fields.heading.value }}</h2>
          </div>
          <div class="lg:flex hidden 2xl:max-w-[75rem] lg:max-w-[54.9375rem] gap-sm">
            {% if fields.list %}
              <div class="flex-1 flex xl:flex-col flex-wrap gap-sm relative lg:w-[26.5625rem] 2xl:w-[25rem] transition-top-stagger" >
                {% for item in fields.list %}
                  <div class="block-image overflow-hidden relative flex flex-col gap-[0.75rem] items-start max-xl:justify-between lg:max-w-[54.9375rem] w-full">        
                    {% if item.image.url %}
                      <div class="h-[31.875rem] w-full lg:max-w-[33.875rem]">                      
                        <img class="object-cover object-top h-full w-full" src="{{ item.image.url }}" alt="featured-image" />                            
                      </div>    
                    {% endif %}  
                    <div class="flex flex-col gap-[0.25rem]">
                      {% if item.text %}
                        <h6>{{ item.text }}</h6>
                      {% endif %}
                      {% if item.subtext %}
                        <p class="font-tertiary text-[0.75rem] text-[#57514E]">{{ item.subtext }}</p>                    
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if fields.list_2 %}
              <div class="flex-1 flex xl:flex-col flex-wrap gap-sm relative lg:w-[26.5625rem] 2xl:w-[25rem] gap-sm mt-md transition-top-stagger">
                {% for item in fields.list_2 %}
                  <div class="block-image overflow-hidden relative flex flex-col gap-[0.75rem]  items-start max-xl:justify-between lg:max-w-[54.9375rem] w-full">        
                    {% if item.image.url %}
                      <div class="h-[31.875rem] w-full lg:max-w-[33.875rem]">                      
                        <img class="object-cover object-top h-full w-full" src="{{ item.image.url }}" alt="featured-image" />                            
                      </div>    
                    {% endif %}  
                    <div class="flex flex-col gap-[0.25rem]">
                      {% if item.text %}
                        <h6>{{ item.text }}</h6>
                      {% endif %}
                      {% if item.subtext %}
                        <p class="font-tertiary text-[0.75rem] text-[#57514E]">{{ item.subtext }}</p>                    
                      {% endif %}
                    </div>               
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="2xl:max-w-[75rem] lg:max-w-[54.9375rem] w-full flex-col gap-sm lg:hidden flex">
            {% if fields.list %}
              <div class="flex-1 flex xl:flex-col flex-wrap gap-sm relative lg:w-[26.5625rem] 2xl:w-[25rem]">
                {% for item in fields.list %}
                  <div class="block-image overflow-hidden relative flex flex-col gap-[0.75rem] items-start max-xl:justify-between lg:max-w-[54.9375rem] w-full">        
                    {% if item.image.url %}
                      <div class="h-[25.125rem] w-full lg:max-w-[33.875rem]">                      
                        <img class="object-cover object-top h-full w-full" src="{{ item.image.url }}" alt="featured-image" />                            
                      </div>    
                    {% endif %}  
                    <div class="flex flex-col gap-[0.25rem]">
                      {% if item.text %}
                        <h6>{{ item.text }}</h6>
                      {% endif %}
                      {% if item.subtext %}
                        <p class="font-tertiary text-[0.75rem] text-[#57514E]">{{ item.subtext }}</p>                    
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if fields.list_2 %}
              <div class="flex-1 flex xl:flex-col flex-wrap gap-sm relative lg:w-[26.5625rem] 2xl:w-[25rem] gap-sm">
                {% for item in fields.list_2 %}
                  <div class="block-image overflow-hidden relative flex flex-col gap-[0.75rem] items-start max-xl:justify-between lg:max-w-[54.9375rem] w-full">        
                    {% if item.image.url %}
                      <div class="h-[25.125rem] w-full lg:max-w-[33.875rem]">                      
                        <img class="object-cover object-top h-full w-full" src="{{ item.image.url }}" alt="featured-image" />                            
                      </div>    
                    {% endif %}  
                    <div class="flex flex-col gap-[0.25rem]">
                      {% if item.text %}
                        <h6>{{ item.text }}</h6>
                      {% endif %}
                      {% if item.subtext %}
                        <p class="font-tertiary text-[0.75rem] text-[#57514E]">{{ item.subtext }}</p>                    
                      {% endif %}
                    </div>               
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
