{% set custom_class = "bg-[#F4EDE9]" %}

<section class="{{ block.slug ?? 'animated-text' }} {{ custom_class }}">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

    <div class="container">
        <div class="{{ pt }} {{ pb }}">                                 
            <div class="flex flex-col items-center text-left gap-sm mx-auto lg:max-w-[68.9375rem]">
                {% if fields.eyebrow %}
                    <span class="text-[var(--theme-color)] text-[0.75rem] font-tertiary w-full">{{ fields.eyebrow }}</span>
                {% endif %}

                {% if fields.paragraph %}
                    <h3 class="transition-text-fill" data-bg-color="#57514E" data-fg-color="#000">{{ fields.paragraph }}</h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>