{% if not function('is_front_page') %}
	{% set nav_theme = global_nav_theme == 'dark' ? 'dark bg-[var(--theme-color)]' : global_nav_theme == 'transparent' ? 'transparent' : 'light' %}
{% endif %}

<nav class="nav group/navhead {{ nav_theme }}">
	<div class="nav__outer">
		<div class="container max-lg:w-full max-xl:pt-[1rem] max-xl:pb-[1rem] max-lg:pt-0 max-lg:pb-0">
			<div class="nav__desktop nav__inner max-md:py-0 relative">
				<div class="nav__wrap flex gap-[2rem] items-center w-full justify-between">

					{% if global_nav_theme == 'dark' or global_nav_theme == 'transparent' %}
						{% set logo = footer_logo ? footer_logo.url : function('svg', 'block-icon') %}
					{% else %}
						{% set logo = site_logo ? site_logo.url : function('svg', 'block-icon') %}
					{% endif %}

					<a href="{{ function('home_url') }}" class="nav__logo">
						<img src="{{ logo }}" alt="logo" />
					</a>

					{% if header_nav_item %}
						<div class="flex gap-[2rem] items-center {% if hide_navigation %} !hidden {% endif %}">
							<div class="nav__group">
								{% for nav_item in header_nav_item %}
									{% set nav_index = loop.index %}

									{% if not nav_item.is_cta %}
										<div
											class="nav__item {{ nav_item.is_parent ? 'parent' }} {% if nav_item.link.target == '_blank' %}external{% endif %}"
											{% if nav_item.link.target == '_blank' %} rel="noopener" {% endif %}
										>
											<div class="nav__item-inner group cursor-pointer">
												{% if nav_item.is_parent|length %}
													{% if nav_item.parent_link|length %}
														<a href="{{ nav_item.parent_link.url }}" class="flex items-center justify-between gap-[0.5rem] group">
													{% endif %}

														<p class="menu-title !cursor-pointer flex items-center gap-1 relative">
															{{ nav_item.name }}
														</p>
														<svg class="group-hover:-scale-100 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path d="M18 9L12 15L6 9" stroke="black" stroke-width="2"/>
														</svg>

													{% if nav_item.parent_link|length %}
														</a>
													{% endif %}

												{% else %}
													{% if nav_item.link|length %}
														<a href="{{ nav_item.link.url }}" class="group" target="{{ nav_item.link.target }}">
													{% endif %}
																	
														<div class="flex gap-[0.5rem] items-center group ">
															<p class="menu-title">{{ nav_item.is_parent ? nav_item.name : nav_item.link.title }}</p>
															<div class="custom-nav-ball w-[0.36125rem] h-[0.36125rem] {% if nav_item.link.title != "Home"  %} invisible {% endif %} group-hover:visible">
																<svg class="object-contain w-full h-full" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<rect width="5.78125" height="5.78125" rx="2.89062" fill="#FABC6F"/>
																</svg>
															</div>
														</div>

													{% if nav_item.link|length %}
														</a>
													{% endif %}
												{% endif %}

												{% if nav_item.link.target == '_blank' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
														<path d="M2.03113 9L7.98205 3.0493L7.98205 7.59337C7.98205 7.95652 8.28002 8.25449 8.64318 8.25449C8.72941 8.25458 8.81481 8.23766 8.8945 8.2047C8.97419 8.17174 9.04659 8.12339 9.10757 8.06241C9.16854 8.00144 9.2169 7.92904 9.24985 7.84935C9.28281 7.76966 9.29973 7.68426 9.29965 7.59802L9.29965 1.46167C9.29973 1.37543 9.28282 1.29003 9.24986 1.21034C9.2169 1.13066 9.16854 1.05825 9.10757 0.997277C9.04659 0.936301 8.97419 0.887949 8.8945 0.85499C8.81482 0.82203 8.72941 0.80511 8.64318 0.805199L2.50682 0.805198C2.42061 0.805198 2.33525 0.822179 2.2556 0.85517C2.17596 0.888161 2.10359 0.936516 2.04263 0.997474C1.98167 1.05843 1.93331 1.1308 1.90032 1.21045C1.86733 1.29009 1.85035 1.37546 1.85035 1.46167C1.85035 1.54788 1.86733 1.63324 1.90032 1.71289C1.93331 1.79253 1.98167 1.8649 2.04263 1.92586C2.10359 1.98682 2.17596 2.03518 2.2556 2.06817C2.33525 2.10116 2.42061 2.11814 2.50682 2.11814L7.05089 2.11814L1.09997 8.06884C0.843904 8.32491 0.843904 8.74393 1.09997 9C1.35604 9.25607 1.77507 9.25607 2.03113 9Z" fill="#4B4B4B" class="fill-white group-[.light]/navhead:fill-[#4B4B4B]" />
													</svg>
												{% endif %}
											</div>


											{% if nav_item.is_parent %}
												{% set nav_group = nav_item.nav_group %}
												{% set ctr = 0 %}

												{% if nav_group|length %}
													<div class="nav__dd transition-transform ease-in-out duration-300 shadow-sm">
														<div class="container1 !py-[3rem] !px-[2.5rem] h-full">
															<div class="nav__dd-inner">
																<div class="nav__dd-main !gap-[3.5rem]">
																	{% if nav_item.image.url %}
																		<div class="w-[12.5rem] h-auto">
																			<img class="object-cover w-full h-full" src="{{ nav_item.image.url }}" />
																		</div>
																	{% endif %}
																	<div class="nav__dd-groups">
																		{% for group in nav_group %}
																			{% set nav_group_index = loop.index %}
																			{% set navTitle = group.nav_title %}
																			{% set is_feature = group.is_featured_block %}
																			{% set ctr = ctr + 1 %}
																			<div class="nav__dd-group {% if navTitle %}min-w-[7rem]{% endif %}">
																				{% if group.links|length %}
																					<div class="nav__dd-group-links w-full gap-[1.5rem]">
																						{% if navTitle %}
																							<div class="!text-[var(--font-color-dark)] !text-[2.25rem] !leading-none mb-[2rem]">{{ navTitle }}</div>
																						{% endif %}

																						{% for child in group.links %}
																							{% set child_index = loop.index %}
																							{% set is_block_link = child.is_block_link %}

																							{% if child.link %}
																								{% set link_url = child.link.url ?: '#' %}
																								{% set link_title = child.link.title %}
																								{% set link_target = child.link.target ?: '_self' %}

																								<a class="nav__dd-group-link justify-between group" href="{{ link_url }}" target="{{ link_target }}" {{ is_featured_blog ? 'data-blog-index="' ~ nav_index ~ nav_group_index ~ child_index ~ '"' }}>
																									<p>{{ link_title }}</p>
																									{# {% if link_target == '_blank' %}
																										<svg class="ml-[0.25rem]" xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none">
																											<path d="M1.46131 9L7.41223 3.0493L7.41223 7.59337C7.41223 7.95652 7.7102 8.25449 8.07335 8.25449C8.15959 8.25458 8.24499 8.23766 8.32468 8.2047C8.40436 8.17174 8.47677 8.12339 8.53774 8.06241C8.59872 8.00144 8.64707 7.92904 8.68003 7.84935C8.71299 7.76966 8.72991 7.68426 8.72982 7.59802L8.72982 1.46167C8.72991 1.37543 8.71299 1.29003 8.68003 1.21034C8.64707 1.13066 8.59872 1.05825 8.53774 0.997277C8.47677 0.936301 8.40436 0.887949 8.32468 0.85499C8.24499 0.82203 8.15959 0.80511 8.07335 0.805199L1.937 0.805198C1.85079 0.805198 1.76542 0.822179 1.68578 0.85517C1.60613 0.888161 1.53376 0.936516 1.4728 0.997474C1.41185 1.05843 1.36349 1.1308 1.3305 1.21045C1.29751 1.29009 1.28053 1.37546 1.28053 1.46167C1.28053 1.54788 1.29751 1.63324 1.3305 1.71289C1.36349 1.79253 1.41185 1.8649 1.4728 1.92586C1.53376 1.98682 1.60613 2.03518 1.68578 2.06817C1.76542 2.10116 1.85079 2.11814 1.937 2.11814L6.48107 2.11814L0.530149 8.06884C0.27408 8.32491 0.27408 8.74393 0.530149 9C0.786219 9.25607 1.20524 9.25607 1.46131 9Z" fill="#1D1D1D"/>
																										</svg>
																									{% endif %} #}
																									<svg class="group-hover:translate-x-2 transition-all duration-100 ease-in-out" class="ml-[0.75rem]" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																										<rect x="19" y="11" width="2" height="2" fill="black"/>
																										<rect x="15" y="11" width="2" height="2" fill="black"/>
																										<rect opacity="0.8" x="13" y="11" width="2" height="2" fill="black"/>
																										<rect opacity="0.6" x="11" y="11" width="2" height="2" fill="black"/>
																										<rect opacity="0.5" x="9" y="11" width="2" height="2" fill="black"/>
																										<rect opacity="0.4" x="7" y="11" width="2" height="2" fill="black"/>
																										<rect opacity="0.2" x="5" y="11" width="2" height="2" fill="black"/>
																										<rect x="13" y="5" width="2" height="2" fill="black"/>
																										<rect x="15" y="7" width="2" height="2" fill="black"/>
																										<rect x="17" y="9" width="2" height="2" fill="black"/>
																										<rect x="13" y="17" width="2" height="2" fill="black"/>
																										<rect x="15" y="15" width="2" height="2" fill="black"/>
																										<rect x="17" y="13" width="2" height="2" fill="black"/>
																									</svg>
																								</a>
																							{% endif %}
																						{% endfor %}
																					</div>
																				{% endif %}
																			</div>

																			<svg class="h-full bg-black bg-opacity-20 max-w-[1px] last-of-type:hidden" xmlns="http://www.w3.org/2000/svg" width="2" height="153" viewBox="0 0 2 153" fill="none">
																				<path d="M1 0V153" stroke="black" stroke-opacity="0.2" />
																			</svg>
																		{% endfor %}
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endif %}
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}

								{% if login_url.url != "" %}
									<div class="nav__item">
										<div class="nav__item-inner group cursor-pointer">
											<a href="{{ login_url.url }}" class="group" target="_blank">				
												<p>Login</p>
											</a>																
										</div>
									</div>
								{% endif %}
							</div>

							{# <div class="nav__actions">
								{% for nav_item in header_nav_item %}
									{% if nav_item.is_cta and nav_item.link %}
										{% set link_url = nav_item.link.url ?: '#' %}
										{% set link_title = nav_item.link.title %}
										{% set link_target = nav_item.link.target ?: '_self' %}
										{% set cta_btn_color = nav_item.button_color ?: 'primary' %}

										{% if cta_btn_color == 'primary' %}
											{% include 'components/cta.twig' with {
												'class': 'btn btn-primary',
												'cta': nav_item.link
											} %}
										{% elseif cta_btn_color == 'secondary' %}
											{% include 'components/cta.twig' with {
												'class': 'btn btn-secondary',
												'cta': nav_item.link
											} %}
										{% else %}
											<a
												class="normal-link px-0 nav-cta w-fit"
												href="{{ link_url }}"
												target="{{ link_target }}"
												style="color: var(--theme-color);"
											>
												<p class="text-center !text-[1rem] !font-primary w-fit">
													{{ link_title }}
												</p>
											</a>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div> #}

							<div class="nav__search">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_3684_136)">
									<path d="M18.031 16.617L22.314 20.899L20.899 22.314L16.617 18.031C15.0237 19.3082 13.042 20.0029 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20.0029 13.042 19.3082 15.0237 18.031 16.617ZM16.025 15.875C17.2941 14.5699 18.0029 12.8204 18 11C18 7.132 14.867 4 11 4C7.132 4 4 7.132 4 11C4 14.867 7.132 18 11 18C12.8204 18.0029 14.5699 17.2941 15.875 16.025L16.025 15.875Z" fill="#303030"/>
									</g>
									<defs>
									<clipPath id="clip0_3684_136">
									<rect width="24" height="24" fill="white"/>
									</clipPath>
									</defs>
								</svg>
							</div>
						</div>
					{% endif %}

					<div class="nav__burger hamburger">
						<a class="main-nav-toggle" href="#main-nav"><i>Menu</i></a>
						<script>
							jQuery('a.main-nav-toggle').on('click', function (e) {
								e.preventDefault();
								if (jQuery(this).hasClass('active-menu')) {
									jQuery(this).removeClass('active-menu');
								} else {
									jQuery(this).addClass('active-menu');
								}
							});
						</script>
					</div>
				</div>
			</div>

			{% if header_nav_item %}
				<div class="nav__mobile container">
					<ul class="flex flex-col pl-0">
						{% set ctr = 0 %}
						{% for nav_item in header_nav_item %}
							{% set nav_index = loop.index %}
							{% set ctr = ctr + 1 %}

							{% if not nav_item.is_cta %}
								<li class="list-none pl-0 text-black before:hidden py-[1.5rem] border-b border-[#F4EDE9] border-solid" x-data="accordion({{ ctr }})">
									
									{% if nav_item.is_parent %}
										<p 
											@click="handleClick()" 
											class="flex flex-row justify-between items-center cursor-pointer"
										>
											<span class="!font-primary !text-[2rem] text-[var(--font-color-dark)]">{{ nav_item.link.title }}</span>
											<svg 
												:class="handleRotate()" 
												class="h-[1.5rem] w-[1.5rem] transform transition-transform duration-500"
												xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<path d="M18 9L12 15L6 9" stroke="black" stroke-width="2"/>
											</svg>
										</p>

										<div 
											x-ref="tab" 
											:style="handleToggle()" 
											class="overflow-hidden max-h-0 duration-500 transition-all"
										>
											{% set nav_group = nav_item.nav_group %}
											
											{% if nav_group|length %}
												{% for group in nav_group %}
													{% set nav_group_index = loop.index %}
													{% set navTitle = group.nav_title %}
													{% set is_feature = group.is_featured_block %}
													{% set ctr = ctr + 1 %}

													<div class="nav__dd-group1 pt-[1.5rem]  
														{% if is_feature %} 
															is-feature bg-white text-black rounded-[0.25rem] w-full h-full shrink-0 mb-[0.5rem] 
														{% else %} 
															lg:~w-[10rem]/[15.5rem] 
														{% endif %}
													">
														{% if group.links|length %}
															<div class="nav__dd-group-links gap-[0.75rem]">
																{% if navTitle %}
																	<div class="!text-[var(--font-color-dark)] !text-[0.8125rem] !leading-[0.75rem]">{{ navTitle }}</div>
																{% endif %}

																{% for child in group.links %}
																	{% set child_index = loop.index %}
																	{% set is_block_link = child.is_block_link %}

																	{% if child.link %}
																		{% set link_url = child.link.url ?: "#" %}
																		{% set link_title = child.link.title %}
																		{% set link_target = child.link.target ?: "_self" %}

																		<a 
																			class="nav__dd-group-link flex gap-[10px] items-center !mb-0 [&_p]:text-[1rem] [&_p]:font-primary" 
																			href="{{ link_url }}" 
																			target="{{ link_target }}"
																			{{ is_featured_blog ? 'data-blog-index="' ~ nav_index ~ nav_group_index ~ child_index ~ '"' }}
																		>
																			<p>{{ link_title }}</p>

																			{% if link_target == "_blank" %}
																				<svg 
																					class="ml-[0.25rem]" 
																					xmlns="http://www.w3.org/2000/svg" 
																					width="9" 
																					height="10" 
																					viewBox="0 0 9 10" 
																					fill="none"
																				>
																					<path 
																						d="M1.46131 9L7.41223 3.0493L7.41223 7.59337C7.41223 7.95652 7.7102 8.25449 8.07335 8.25449C8.15959 8.25458 8.24499 8.23766 8.32468 8.2047C8.40436 8.17174 8.47677 8.12339 8.53774 8.06241C8.59872 8.00144 8.64707 7.92904 8.68003 7.84935C8.71299 7.76966 8.72991 7.68426 8.72982 7.59802L8.72982 1.46167C8.72991 1.37543 8.71299 1.29003 8.68003 1.21034C8.64707 1.13066 8.59872 1.05825 8.53774 0.997277C8.47677 0.936301 8.40436 0.887949 8.32468 0.85499C8.24499 0.82203 8.15959 0.80511 8.07335 0.805199L1.937 0.805198C1.85079 0.805198 1.76542 0.822179 1.68578 0.85517C1.60613 0.888161 1.53376 0.936516 1.4728 0.997474C1.41185 1.05843 1.36349 1.1308 1.3305 1.21045C1.29751 1.29009 1.28053 1.37546 1.28053 1.46167C1.28053 1.54788 1.29751 1.63324 1.3305 1.71289C1.36349 1.79253 1.41185 1.8649 1.4728 1.92586C1.53376 1.98682 1.60613 2.03518 1.68578 2.06817C1.76542 2.10116 1.85079 2.11814 1.937 2.11814L6.48107 2.11814L0.530149 8.06884C0.27408 8.32491 0.27408 8.74393 0.530149 9C0.786219 9.25607 1.20524 9.25607 1.46131 9Z" 
																						fill="#1D1D1D"
																					/>
																				</svg>
																			{% endif %}
																		</a>
																	{% endif %}
																{% endfor %}
															</div>
														{% endif %}
													</div>
												{% endfor %}
											{% endif %}
										</div>

									{% else %}
										<a class="flex flex-row justify-between items-center !font-primary cursor-pointer !capitalize !text-[2rem] text-[var(--font-color-dark)]">
											{{ nav_item.link.title }}
										</a>
									{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>

					<div class="nav__actions items-center justify-start w-full flex-col gap-[1.5rem]">
						{% for nav_item in header_nav_item %}
							{% if nav_item.is_cta and nav_item.link %}
								{% set link_url = nav_item.link.url ?: "#" %}
								{% set link_title = nav_item.link.title %}
								{% set link_target = nav_item.link.target ?: "_self" %}
								{% set cta_btn_color = nav_item.button_color %}

								{% if cta_btn_color == "primary" %}
									{% set custom_class = 'bg-black text-white w-full text-[1rem] !font-primary' %}
									{% include 'components/cta.twig' with {
										'class': custom_class,
										'cta': nav_item.link
									} %}
								{% else %}
									<a class="normal-link px-0 nav-cta w-fit" href="{{ link_url }}" target="{{ link_target }}">
										<p class="text-center !text-[1rem] !font-primary w-fit">
											{{ link_title }}
										</p>
									</a>
								{% endif %}
							{% endif %}
						{% endfor %}

						{% if login_url.url != "" %}
							<a class="normal-link px-0 nav-cta w-fit lg:hidden block" href="{{ login_url.url }}" target="_blank">
								<p class="text-center !text-[1rem] !font-primary w-fit underline underline-offset-2">
									Login
								</p>
							</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="nav__overlay"></div>

	<script>
		window.onscroll = function () {
			var lastScrollTop = 0;
			$(window).scroll(function () {
				var currentScrollTop = $(this).scrollTop();
				if (currentScrollTop > lastScrollTop) {
					$('.nav.transparent').addClass('dark');
				} else if (currentScrollTop == 0) {
					$('.nav.transparent').removeClass('dark');
				}
				lastScrollTop = currentScrollTop;
			});
		};

		document.addEventListener('alpine:init', () => {
			Alpine.store('accordion', { tab: 0 });
			Alpine.data('accordion', (idx) => ({
				init() { this.idx = idx },
				idx: -1,
				handleClick() {
					this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
				},
				handleRotate() {
					return this.$store.accordion.tab === this.idx ? 'rotate-90' : '';
				},
				handleToggle() {
					return this.$store.accordion.tab === this.idx
						? `max-height: ${this.$refs.tab.scrollHeight}px`
						: '';
				},
				handleOpen() {
					return this.$store.accordion.tab === this.idx ? 'hidden' : '';
				},
				handleClose() {
					return this.$store.accordion.tab === this.idx ? '' : 'hidden';
				},
			}));
		});
	</script>
</nav>
