{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

{% set custom_bg = "bg-white overflow-visible" %}

<section class="{{ block.slug }} {{ custom_bg }}">
  {% if block.anchor %}
    <div class="section-anchor" id="{{ block.anchor | default(block.id) }}"></div>
  {% endif %}
        
  <div class="container relative z-10">
    <div class="{{ pt }} {{ pb }}">
      <div class="flex flex-col justify-between gap-md">
        <div class="inner flex flex-col mx-auto gap-[2.75rem] w-full lg:w-[40.875rem]  items-center justify-center" data-custom-delay="2000">
          <div class="w-full max-md:flex max-md:flex-col max-md:gap-[0.75rem] relative">
              {% include 'components/heading.twig' with {
              'class': 'main-title text-black text-center',
              'value': fields.heading.value, 
              'type': fields.heading.type != "default" ? fields.heading.type : "h5",
              'has_custom_style': fields.heading.has_custom_style,
              'style': fields.heading.style,
              'to_words': true
            } %}
          </div>
          {% if fields.paragraph|length > 0 %}
            <div class="rich-text [&_p]:text-black [&_p]:leading-[130%] [&_p]:~text-[1.25rem]/[1.125rem]">{{ fields.paragraph }}</div>
          {% endif %}
        </div>

        {% if fields.list %}
          <div class="inner__content bg-[#F4EDE9] lg:max-w-[54.875rem] mx-auto ~p-[1.25rem]/[2.75rem] flex flex-col justify-between items-center gap-sm transition-top-stagger" data-custom-delay="1.25" data-custom-stagger="0.25">
            {% set ctr = 0 %}
            {% for item in fields.list %}
              <div class="h-[1px] w-full bg-[#DDDCDC]"></div>
              <div class="flex flex-col items-start justify-between relative lg:px-[2.75rem] px-0" x-data="accordion({{ ctr }})">            
                {% set ctr = ctr + 1 %}
                {% set state = ctr == 1 ? "true" : "false" %}
                <button @click="handleClick()" type="button" class="flex lg:items-center items-start w-full text-left text-black gap-[0.75rem]" data-accordion-target="#accordion-flush-body-{{ ctr }}" aria-expanded="{{ state }}" aria-controls="accordion-flush-body-{{ ctr }}">                                        
                  
                  <div class="w-[1.625rem] h-[1.625rem]">
                    <svg :class="handleOpen()" class="object-contain w-full h-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12.8485 21.6368L11.1515 21.6368V14.8485L4.36325 14.8485V13.1515L11.1515 13.1515V6.36325L12.8485 6.36325L12.8485 13.1515H19.6368V14.8485H12.8485L12.8485 21.6368Z" fill="#CC5500"/>
                    </svg>   
                    <svg :class="handleClose()" class="object-contain w-full h-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M7.2 20L6 18.8L10.8 14L6 9.2L7.2 8L12 12.8L16.8 8L18 9.2L13.2 14L18 18.8L16.8 20L12 15.2L7.2 20Z" fill="#CC5500"/>
                    </svg>
                  </div>
                  <h6>{{ item.title }}</h6>
                </button>
                <div
                  x-ref="tab"
                  :style="handleToggle()"
                  class="overflow-hidden max-h-0 duration-500 transition-all"
                >
                  <div class="flex items-end w-full justify-between pl-[2.4rem] lg:max-w-[41.625rem]">  
                    <div class="pt-[0.5rem] font-secondary leading-[140%] ~text-[1rem]/[1.125rem] text-black">
                      {{ item.subtext }}
                    </div>
                  </div>
                </div>
              </div>
              {# {% set ctr = ctr + 1 %} #}
              {% if ctr == fields.list|length %}
                <div class="h-[1px] w-full bg-[#DDDCDC]"></div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
