{% set custom_class = "bg-black bg-cover" %}

<section class="{{ block.slug ?? 'company-stats' }} {{ custom_class }}" style="background-image: url({{ function('png', 'company-stats-background') }})">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

    <div class="container">
        <div class="{{ pt }} {{ pb }}">            
            <div class="relative flex max-lg:flex-col items-start justify-between overflow-hidden lg:~gap-[3rem]/[9.9375rem] gap-lg">                    
                <div class="lg:max-w-[19.8125rem] flex flex-col items-stretch justify-between h-full transition-top relative z-50">                    
                    <div class="flex flex-col ~gap-[1.5rem]/[1.75rem] justify-start items-center">
                        {% if fields.heading.value|length > 0 %}
                            <div class="w-full max-md:flex max-md:flex-col max-md:gap-[0.75rem] relative text-left">                        
                                {% include 'components/heading.twig' with {
                                    'class': 'main-title text-white ',
                                    'indent': '<span class="max-md:hidden w-[12.5rem] h-[2.5rem] shrink-0"></span>',
                                    'value': fields.heading.value, 
                                    'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                    'has_custom_style': fields.heading.has_custom_style,
                                    'style': fields.heading.style,
                                    'to_words': true
                                } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex-1 flex flex-wrap relative 2xl:w-[54.9375rem] w-full max-2xl:flex-col">
                    {% for item in fields.list %}
                        {% set ctr = ctr + 1 %}
                        <div id="{{ ctr }}" class="p-md relative flex-1 flex flex-col items-start lg:min-h-[22.5rem] max-xl:justify-between border border-solid border-[#57514E]">                                              
                            <div class="flex flex-col items-start justify-between gap-md max-lg:gap-[1.5rem] h-full w-full">
                                <div class="h-auto w-full max-w-[1.5rem]">
                                    {% if item.icon.url %}
                                        <img class="object-cover h-full w-full" src="{{ item.icon.url }}" alt="featured-image" />      
                                    {% endif %}          
                                </div>    
                                <div class="flex flex-col items-start gap-xs lg:max-w-[18.3125rem]">
                                    {% if item.number %}
                                        <div class="text-white text-[6.25rem] font-primary-500 leading-[76%]">{{ item.number }}</div>
                                    {% endif %}
                                    <div class="flex flex-col items-start gap-[0.75rem]">
                                        {% if item.text %}
                                            <div class="text-white text-[0.875rem] uppercase font-secondary-600 leading-[140%]">{{ item.text }}</div>
                                        {% endif %}
                                        {% if item.subtext %}
                                            <div class="text-white text-[0.875rem] font-secondary leading-[140%]">{{ item.subtext }}</div>
                                        {% endif %}
                                    </div>
                                </div>             
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>