{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

{% set custom_bg = "bg-white" %}

<section class="{{ block.slug }} {{ custom_bg }}">
  {% if block.anchor %}
    <div class="section-anchor" id="{{ block.anchor | default(block.id) }}"></div>
  {% endif %}

	<div class="container relative">
		<div class="{{ pt }} {{ pb }} max-lg:!pb-[2rem]">
			{% if fields.heading.value|length > 0 %}
				<div class="flex flex-col gap-y-[1rem] lg:gap-y-[1.5rem] w-full ~mb-[2.5rem]/[2.75rem] text-left transition-top">
					{% include 'components/heading.twig' with {
						'class': 'main-title text-black',
						'indent': '<span class="max-md:hidden w-[12.5rem] h-[2.5rem] shrink-0"></span>',
						'value': fields.heading.value, 
						'type': fields.heading.type != "default" ? fields.heading.type : "h4",
						'has_custom_style': fields.heading.has_custom_style,
						'style': fields.heading.style,
						'to_words': true
					} %}
				</div>
			{% endif %}

			{% set box_count = fields.boxes|length %}
			{% set box_class = "lg:grid-cols-3" %}

			{% if box_count|length > 0 %}
				{% set ctr = 0 %}
				<div class="relative z-[1] p-0 mx-auto">
					<div class="boxes lg:grid {{ box_class }} {% if box_count <= 3 %} three {% else %} six {% endif %} transition-top">						
						{% for box in fields.boxes %}
							{% set ctr = ctr + 1 %}
							<div class="box group {% if box.link %} hover:bg-white transition-all duration-100 ease-in-out {% endif %}">		
								{% if box.link %}
									<a href="{{ box.link.url }}" target="{{ box.link.target }}" class="absolute top-0 left-0 w-full h-full">&nbsp;</a>
								{% endif %}			
								<div class="flex flex-col gap-[1.75rem]">
									{% if box.icon.url %}
										<div class="box__icon">              
											<img src="{{ box.icon.url }}" alt="icon" />
										</div>
									{% endif %}

									<div class="flex flex-col gap-y-[0.75rem]">
										<h6 class="box__title custom-text-black-2">{{ box.title }}</h6>
										<p class="box__content">{{ box.content }}</p>
									</div>
								</div>

								{% set link_url = box.link.url ?: "#" %}
								{% set link_title = box.link.title ?: "Read now" %}
								{% set link_target = box.link.target ?: "_self" %}
								{% set icon = true %}
								{% if box.link.url %}
									<a href="{{ link_url }}" class="bg-black group-hover:bg-[var(--theme-color)] rounded-full p-[0.65625rem] lg:p-[1rem] relative transition-all ease-in-out duration-200" target="{{ link_target }}" aria-label="Go to {{ aria_label ?? link_title }}">                      
										<svg class="w-[0.9375rem] h-[0.9375rem] lg:w-[1.5rem] lg:h-[1.5rem] aspect-square" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="19" y="11" width="2" height="2" fill="white"/>
											<rect x="15" y="11" width="2" height="2" fill="white"/>
											<rect opacity="0.8" x="13" y="11" width="2" height="2" fill="white"/>
											<rect opacity="0.6" x="11" y="11" width="2" height="2" fill="white"/>
											<rect opacity="0.5" x="9" y="11" width="2" height="2" fill="white"/>
											<rect opacity="0.4" x="7" y="11" width="2" height="2" fill="white"/>
											<rect opacity="0.2" x="5" y="11" width="2" height="2" fill="white"/>
											<rect x="13" y="5" width="2" height="2" fill="white"/>
											<rect x="15" y="7" width="2" height="2" fill="white"/>
											<rect x="17" y="9" width="2" height="2" fill="white"/>
											<rect x="13" y="17" width="2" height="2" fill="white"/>
											<rect x="15" y="15" width="2" height="2" fill="white"/>
											<rect x="17" y="13" width="2" height="2" fill="white"/>
										</svg>
									</a>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>