{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

{% set custom_bg = "bg-white" %}

<section class="{{ block.slug }} {{ custom_bg }}">
  {% if block.anchor %}
    <div class="section-anchor" id="{{ block.anchor | default(block.id) }}"></div>
  {% endif %}
        
  <div class="container relative z-10">
    <div class="{{ pt }} {{ pb }}">
      <div class="flex flex-col justify-between gap-md transition-top-stagger">
        <div class="inner flex flex-col w-full lg:w-[33.875rem] h-auto" data-custom-delay="2000">
          <div class="w-full max-md:flex max-md:flex-col max-md:gap-[0.75rem] relative">
              {% include 'components/heading.twig' with {
              'class': 'main-title text-black',
              'value': fields.heading.value, 
              'type': fields.heading.type != "default" ? fields.heading.type : "h2",
              'has_custom_style': fields.heading.has_custom_style,
              'style': fields.heading.style,
              'to_words': true
            } %}
          </div>
          {% if fields.paragraph|length > 0 %}
            <div class="rich-text [&_p]:text-black [&_p]:leading-[130%] [&_p]:~text-[1.25rem]/[1.125rem]">{{ fields.paragraph }}</div>
          {% endif %}
        </div>

        <div class="tab-wrapper lg:block hidden" x-data="{ activeTab:  1 }">            
          {% if fields.list %}
            {% set ctr = 0 %}
            <div class="owl-carousel">
              {% for item in fields.list %}    
                {% set ctr = ctr + 1 %}
                <div class="flex tab-panel gap-sm justify-between max-lg:flex-col-reverse" data-dot="&lt;button&gt; {{ item.title }} &lt;/button&gt;">                  
                  {% if item.image_block %}
                    {% set custom_image = function('wp_get_attachment_image_src', item.image_block.image, 'full') %}
                    {% set image = custom_image ? custom_image[0] : '' %} 
                    <div class="lg:w-[60%] w-full ~h-[29.125rem]/[36.6875rem] relative bg-cover bg-center" style="background-image: url({{ image }})">    
                      <div class="absolute top-0 left-0 w-full h-full" style="background: #000;background: linear-gradient(45deg,rgba(0, 0, 0, 0.44) 25%, rgba(255, 255, 255, 0) 50%);"></div>                
                      <div class="flex items-stretch w-full justify-start absolute bottom-[2rem] left-[2rem] gap-[2rem] lg:max-w-[23.75rem]">
                        <div class="w-[0.0625rem] h-auto bg-white/20"></div>
                        <div class="flex flex-col gap-xs">
                          {% if item.image_block.title %}
                            <div class="font-primary-500 text-[5rem] text-white leading-[75%]">
                              {{ item.image_block.title }}
                            </div>
                          {% endif %}
                          {% if item.image_block.subtitle %}
                            <div class="font-secondary leading-[140%] ~text-[1rem]/[0.875rem] text-white uppercase">{{ item.image_block.subtitle }}</div>
                          {% endif %}
                          {% if item.image_block.description %}
                            <div class="font-secondary leading-[140%] ~text-[1rem]/[0.875rem] text-white">{{ item.image_block.description }}</div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if item.text_block %}
                    <div class="lg:w-[40%] bg-[#F4EDE9] p-md flex flex-col items-start justify-between max-lg:gap-[3.5rem]">
                      <div class="flex flex-col gap-xxs">
                        {% if item.text_block.title %}
                          <h3>{{ item.text_block.title }}</h3>
                        {% endif %}
                        {% if item.text_block.description %}
                          <h6 class="text-[#57514E]">{{ item.text_block.description }}</h6>
                        {% endif %}
                      </div>
                  
                      {% if item.text_block.link.url|length > 0 %}
                          {% set custom_class = 'btn bg-black dark text-white btn-hover-dark' %}							
                      
                          {% include 'components/cta.twig' with {
                            'class' : custom_class,
                            'cta': item.text_block.link, 
                            'icon': true,
                          } %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>       
              {% endfor %}
            </div>   
          {% endif %}
        </div>

        <div class="tab-wrapper lg:hidden block">   
          {% set ctr = 0 %}
          {% if fields.list %}
            <div class="gap-xxs items-center justify-between lg:hidden flex mb-sm flex-1">          
              <div class="btn-prev bg-black hover:bg-[var(--theme-color)] rounded-full p-[0.75rem] relative transition-all ease-in-out duration-200 cursor-pointer flex items-center justify-center">                      
                <svg class="w-[1.125rem] h-[1.125rem]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 3.75 8.25)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 6.75 8.25)" fill="white"/>
                  <rect opacity="0.8" width="1.5" height="1.5" transform="matrix(-1 0 0 1 8.25 8.25)" fill="white"/>
                  <rect opacity="0.6" width="1.5" height="1.5" transform="matrix(-1 0 0 1 9.75 8.25)" fill="white"/>
                  <rect opacity="0.5" width="1.5" height="1.5" transform="matrix(-1 0 0 1 11.25 8.25)" fill="white"/>
                  <rect opacity="0.4" width="1.5" height="1.5" transform="matrix(-1 0 0 1 12.75 8.25)" fill="white"/>
                  <rect opacity="0.2" width="1.5" height="1.5" transform="matrix(-1 0 0 1 14.25 8.25)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 8.25 3.75)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 6.75 5.25)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 5.25 6.75)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 8.25 12.75)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 6.75 11.25)" fill="white"/>
                  <rect width="1.5" height="1.5" transform="matrix(-1 0 0 1 5.25 9.75)" fill="white"/>
                </svg>
              </div>   
              <div class="owl-carousel relative !w-[80%] max-sm:!w-[60%]">                                              
                {% for item in fields.list %}    
                  {% set ctr = ctr + 1 %}
                  <label
                    class="tab-control block leading-[140%] text-[0.75rem] text-center font-tertiary text-white bg-[var(--theme-color-dark)] border-[var(--theme-color-dark)] border border-solid rounded-[6.9375rem] lg:px-[1.75rem] ~py-[.85rem]/[0.75rem] w-full cursor-pointer hover:border-[var(--theme-color-dark)] hover:bg-[var(--theme-color-dark)] hover:text-white transition-all ease-in-out duration-200 "
                  >{{ item.title }}</label>
                {% endfor %}                               
              </div>
          
              <div class="btn-next bg-black hover:bg-[var(--theme-color)] rounded-full p-[0.75rem] relative transition-all ease-in-out duration-200 cursor-pointer flex items-center justify-center">                      
                <svg class="w-[1.125rem] h-[1.125rem]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <rect x="14.25" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect x="11.25" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect opacity="0.8" x="9.75" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect opacity="0.6" x="8.25" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect opacity="0.5" x="6.75" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect opacity="0.4" x="5.25" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect opacity="0.2" x="3.75" y="8.25" width="1.5" height="1.5" fill="white"/>
                  <rect x="9.75" y="3.75" width="1.5" height="1.5" fill="white"/>
                  <rect x="11.25" y="5.25" width="1.5" height="1.5" fill="white"/>
                  <rect x="12.75" y="6.75" width="1.5" height="1.5" fill="white"/>
                  <rect x="9.75" y="12.75" width="1.5" height="1.5" fill="white"/>
                  <rect x="11.25" y="11.25" width="1.5" height="1.5" fill="white"/>
                  <rect x="12.75" y="9.75" width="1.5" height="1.5" fill="white"/>
                </svg>
              </div>   
            </div>
          {% endif %}

          {% set ctr = 0 %}
          {% if fields.list %}
            <div class="owl-carousel">
              {% for item in fields.list %}    
                {% set ctr = ctr + 1 %}
                <div class="flex ~gap-[0.5rem]/[1rem] justify-between max-lg:flex-col-reverse">                  
                  {% if item.image_block %}
                    {% set custom_image = function('wp_get_attachment_image_src', item.image_block.image, 'full') %}
                    {% set image = custom_image ? custom_image[0] : '' %} 
                    <div class="w-full ~h-[29.125rem]/[36.6875rem] relative bg-cover bg-center" style="background-image: url({{ image }})">
                      <div class="absolute top-0 left-0 w-full h-full" style="background: #000;background: linear-gradient(45deg,rgba(0, 0, 0, 0.44) 25%, rgba(255, 255, 255, 0) 50%);"></div>
                      <div class="flex items-stretch w-full justify-start absolute bottom-[2rem] left-[1.5rem] gap-[1.5rem]">
                        <div class="w-[0.0625rem] h-auto bg-white/20"></div>
                        <div class="flex flex-col gap-[0.75rem] lg:max-w-[14.9375rem]">
                          {% if item.image_block.title %}
                            <div class="font-primary-500 text-[5rem] text-white leading-[75%]">
                              {{ item.image_block.title }}
                            </div>
                          {% endif %}
                          {% if item.image_block.subtitle %}
                            <div class="font-secondary leading-[140%] ~text-[1rem]/[0.875rem] text-white uppercase">{{ item.image_block.subtitle }}</div>
                          {% endif %}
                          {% if item.image_block.description %}
                            <div class="font-secondary leading-[140%] ~text-[1rem]/[0.875rem] text-white">{{ item.image_block.description }}</div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if item.text_block %}
                    <div class="w-full bg-[#F4EDE9] p-md flex flex-col items-start justify-between gap-[3.5rem]">
                      <div class="flex flex-col gap-xxs">
                        {% if item.text_block.title %}
                          <h4>{{ item.text_block.title }}</h4>
                        {% endif %}
                        {% if item.text_block.description %}
                          <h6 class="text-[#57514E]">{{ item.text_block.description }}</h6>
                        {% endif %}
                      </div>
                  
                      {% if item.text_block.link.url|length > 0 %}
                          {% set custom_class = 'btn btn-primary btn-hover-dark dark' %}							
                      
                          {% include 'components/cta.twig' with {
                            'class' : custom_class,
                            'cta': item.text_block.link, 
                            'icon': true,
                          } %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>
