{% set excerpt = box.content %}
{% set author = box.author_name %}
{% set position = box.author_position %}
{% set link = box.link %}
{% set link_target = box.link.target %}

<div class="process-carousel__box relative btn-trigger h-[28.125rem] lg:w-[32rem] w-full group">	
	{% if link %}
		<a href="{{ link.url }}" target="{{ link_target }}" class="absolute top-0 left-0 w-full h-full z-30">&nbsp;</a>
	{% endif %}
	<div class="relative flex flex-col justify-between items-start gap-[1rem] h-full">
		<div class="relative flex flex-col h-full justify-start items-start ~gap-[1.5rem]/[1.75rem]">
			{% if image|length > 0 %}
				<div class="w-[6.8125rem] {% if link %} transform transition duration-500 group-hover:scale-[1.1] {% endif %}">
					<img class="object-contain h-full w-full " src="{{ image }}" alt="thumbnail"/>
				</div>
			{% endif %}

			{% if excerpt|length > 0 %}
				<div class="process-carousel__content flex justify-between items-end">
					<span class="~text-[1rem]/[1.125rem] font-secondary text-black leading-[140%]">{{ excerpt }}</span>
				</div>
			{% endif %}
		</div>

		<div class="flex items-end justify-between gap-[1rem] w-full">
			<div class="flex gap-[0.75rem] flex-1">
				{% if box.author_img %}
					<div class="w-[4rem] h-[4rem]">
						<img class="w-full object-cover h-full" src="{{ box.author_img.url }}" />
					</div>
				{% endif %}
				<div class="flex flex-col justify-center gap-[0.25rem] flex-1 w-full text-left">
					{% if author %}
						<p class="text-[0.875rem] font-secondary-600 leading-[140%]">{{ author }}</p>
					{% endif %}
					
					{% if position %}
						<p class="text-[0.75rem] text-[#57514E] font-tertiary leading-[140%]">{{ position }}</p>
					{% endif %}
				</div>
			</div>

			{% if link %}
				<a href="{{ link.url }}" target="{{ link_target }}" class="bg-black hover:bg-[var(--theme-color)] rounded-full p-[1rem] mt-[2rem] relative transition-all ease-in-out duration-200">                      
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="19" y="11" width="2" height="2" fill="white"/>
					<rect x="15" y="11" width="2" height="2" fill="white"/>
					<rect opacity="0.8" x="13" y="11" width="2" height="2" fill="white"/>
					<rect opacity="0.6" x="11" y="11" width="2" height="2" fill="white"/>
					<rect opacity="0.5" x="9" y="11" width="2" height="2" fill="white"/>
					<rect opacity="0.4" x="7" y="11" width="2" height="2" fill="white"/>
					<rect opacity="0.2" x="5" y="11" width="2" height="2" fill="white"/>
					<rect x="13" y="5" width="2" height="2" fill="white"/>
					<rect x="15" y="7" width="2" height="2" fill="white"/>
					<rect x="17" y="9" width="2" height="2" fill="white"/>
					<rect x="13" y="17" width="2" height="2" fill="white"/>
					<rect x="15" y="15" width="2" height="2" fill="white"/>
					<rect x="17" y="13" width="2" height="2" fill="white"/>
					</svg>
				</a>		
			{% endif %}
		</div>
	</div>
</div>
