{% set custom_class = "bg-[#F4EDE9]" %}

<section class="{{ block.slug ?? 'form-block' }} {{ custom_class }} looping-infinite-logos">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}
    {% set nt = fields.is_top_block ? "pt-[2.75rem]" : pt %}

    {% set theme_bg = fields.theme == "orange" ? function('png', 'form-background-burnt-orange') : function('png', 'form-background-black') %}

    <div class="container"> 
        <div class="relative flex max-lg:flex-col items-stretch justify-between overflow-hidden lg:gap-[9.9375rem] gap-[2rem]">          
        
            <div class="{{ pt }} {{ pb }} lg:w-1/2 lg:max-w-[30.8125rem] flex flex-col items-stretch justify-between h-auto transition-top relative z-50 overflow-hidden max-lg:pb-[3rem]">                    
                <div class="flex flex-col gap-sm justify-start items-center lg:min-h-[32.125rem]">
                    {% if fields.heading.value|length > 0 %}
                        <div class="w-full max-md:flex max-md:flex-col max-md:gap-[0.75rem] relative text-left">                        
                            {% include 'components/heading.twig' with {
                                'class': 'main-title text-black ',
                                'indent': '<span class="max-md:hidden w-[12.5rem] h-[2.5rem] shrink-0"></span>',
                                'value': fields.heading.value, 
                                'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                'has_custom_style': fields.heading.has_custom_style,
                                'style': fields.heading.style,
                                'to_words': true
                            } %}
                        </div>
                    {% endif %}

                    <div class="flex flex-col gap-md w-full">
                        {% if fields.paragraph|length > 0 %}
                            <div class="flex flex-col items-start justify-start gap-md max-w-[40.625rem] w-full text-left">
                                <p class="text-[#57514E] text-[1.125rem] leading-[140%] font-secondary">{{ fields.paragraph|striptags }}</p>                                
                            </div>
                        {% endif %}

                        {% if fields.list %}
                            <ul class="flex flex-col flex-wrap w-full lg:items-start lg:justify-start ~gap-[1.5rem]/[1.75rem] pl-0 ml-0">
                                {% for item in fields.list %}
                                    <li class="flex gap-[0.75rem] items-center before:hidden font-secondary text-[#57514E] text-[1.125rem] p-0">
                                        <div class="w-[1rem] h-[1rem]">
                                            <svg class="object-contain w-full h-full" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <circle cx="8" cy="8" r="8" fill="#CC5500"/>
                                                <path d="M7.0577 11C6.99786 10.9998 6.9387 10.9879 6.8839 10.9651C6.8291 10.9422 6.77982 10.9089 6.73913 10.8672L4.61829 8.72083C4.53901 8.64045 4.49654 8.53341 4.50022 8.42324C4.5039 8.31308 4.55344 8.20881 4.63793 8.13339C4.72241 8.05797 4.83494 8.01757 4.95074 8.02107C5.06654 8.02458 5.17613 8.0717 5.25541 8.15208L7.05333 9.97458L10.7234 6.15521C10.7606 6.11108 10.8069 6.07467 10.8595 6.04821C10.9121 6.02174 10.9698 6.00578 11.0291 6.0013C11.0884 5.99682 11.148 6.00393 11.2043 6.02217C11.2606 6.04042 11.3124 6.06942 11.3565 6.1074C11.4006 6.14538 11.4361 6.19153 11.4607 6.24303C11.4854 6.29452 11.4987 6.35027 11.4999 6.40684C11.5011 6.46342 11.4901 6.51963 11.4676 6.57202C11.4452 6.62441 11.4117 6.67188 11.3692 6.71151L7.38062 10.863C7.34032 10.9055 7.29122 10.9396 7.23639 10.9632C7.18157 10.9868 7.12222 10.9993 7.06206 11H7.0577Z" fill="white"/>
                                            </svg>
                                        </div>
                                        {{ item.text }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if fields.list_large %}
                            <ul class="flex flex-col flex-wrap w-full lg:items-start lg:justify-start ~gap-[1.5rem]/[1.75rem] pl-0 ml-0">
                                {% for item in fields.list_large %}
                                    <li class="flex gap-[0.75rem] items-center before:hidden font-secondary text-[#57514E] text-[1.125rem] p-0">                                        
                                        <div class="w-[3.375rem] h-[3.375rem] bg-[#C50] flex items-center justify-center">
                                            {% if item.icon.url %}
                                                <img class="w-[1.5rem] h-auto" src="{{ item.icon.url }}" alt="icon" />
                                            {% endif %}
                                        </div>
                                        <div class="flex flex-col gap-[0.75rem]">
                                            {% if item.label %}
                                                <div class="text-[0.75rem] text-[#57514E] leading-[140%] font-tertiary">{{ item.label }}</div>                                            
                                            {% endif %}
                                            {% if item.value %}
                                                {% if item.value_url != "" %}
                                                    <a href="{{ item.value_url }}" target="_blank" class="text-black text-[1.125rem] leading-[140%] link-hover-underline">{{ item.value }}</a>
                                                {% else %}
                                                    <div class="text-black text-[1.125rem] leading-[140%]">{{ item.value }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    
                    {% if logos %}
                        <div class="flex flex-col gap-[1.5rem] w-full mt-lg">
                            {% if fields.logo_band_title %}
                                <div class="text-[#C50] mb-xs text-center font-tertiary text-[0.75rem]">{{ fields.logo_band_title }}</div>
                            {% endif %}                          
                            {% if logos %}
                                <div class="relative">  
                                    <div class="absolute left-[-3px] top-0 h-full z-50">
                                        <svg class="object-cover w-full h-full" width="69" height="36" viewBox="0 0 69 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="69" height="59" fill="url(#paint0_linear_7797_18954)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_7797_18954" x1="69" y1="29.5" x2="0" y2="29.5" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#F4EDE9" stop-opacity="0"/>
                                            <stop offset="1" stop-color="#F4EDE9"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>

                                    <div class="logo-groups">
                                        {% for i in 1..4 %}
                                            <div class="logo-group">
                                                {% for logo in logos %}
                                                    <div class="skeleton">
                                                        <img class="logo-image" src="{{ logo.url }}" alt="{{ logo.alt }}"/>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                    <div class="absolute right-[-3px] top-0 h-full z-50">
                                        <svg class="object-cover w-full h-full" width="69" height="36" viewBox="0 0 69 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="69" height="59" fill="url(#paint0_linear_7797_18953)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_7797_18953" x1="69" y1="29.5" x2="0" y2="29.5" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#F4EDE9"/>
                                            <stop offset="1" stop-color="#F4EDE9" stop-opacity="0"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                </div>                                
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="lg:w-1/2 h-auto px-md py-xl relative bg-cover bg-no-repeat lg:block hidden"  style="background-image: url({{ theme_bg }})">                
                    
                    {% if fields.iframe_url %}
                        <iframe
                         class="w-full h-full min-h-[900px]"
                        src="{{ fields.iframe_url}}"
                        frameborder="0"
                        style="border: none;"
                        ></iframe>
                    {% endif %}
                
            </div>
        </div>
    </div>
    <div class="h-auto py-xl relative bg-cover bg-no-repeat lg:hidden block"  style="background-image: url({{ theme_bg }})">                
        <div class="container">
                
                {% if fields.iframe_url %}
                    <iframe
                        class="w-full h-full min-h-[900px]"
                    src="{{ fields.iframe_url}}"
                    frameborder="0"
                    style="border: none;"
                    ></iframe>
                {% endif %}
            
        </div>
    </div>
    
</section>