<section class="{{ block.slug ?? 'single-assets' }} bg-[transparent] w-full">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}
         
    <div class="relative w-full overflow-hidden">
        {% if fields.image %}
            <img class="w-full h-auto " src="{{ fields.image.url }}" />
        {% endif %}

        {% if fields.video %}   
            <div id="video" class="w-full h-full absolute top-0 left-0 transition-top z-0">
                <div class="video-container jarallax w-full h-full" data-video-src="{{ fields.video }}"></div>
            </div>
            <div class="absolute bottom-0 left-0 z-10 w-full">
                <svg class="w-full h-auto" width="864" height="196" viewBox="0 0 864 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0H864V192C864 194.209 862.209 196 860 196H3.99998C1.79085 196 0 194.209 0 192V0Z" fill="url(#paint0_linear_8592_7162)"/>
                    <defs>
                    <linearGradient id="paint0_linear_8592_7162" x1="442.485" y1="179.667" x2="442.485" y2="-3.69009e-06" gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="0.8"/>
                    <stop offset="1" stop-opacity="0"/>
                    </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="absolute left-0 top-0 w-full h-full z-50 group flex items-center justify-center">        
                <a href="{{ fields.video }}" class="play-video glightbox flex items-center gap-[0.5rem] cursor-pointer !no-underline h-[2rem]">
                    <div class="w-[1.75rem] h-auto group-hover:w-[2rem] group-hover:transition-all group-hover:ease-in-out group-hover:duration-300">
                        <svg class="object-contain w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                            <foreignObject x="-15.19" y="-15.19" width="63.2035" height="63.2035"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(7.59px);clip-path:url(#bgblur_0_8609_843_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="15.19" cx="16.4118" cy="16.4118" r="16.4118" fill="white"/>
                            <rect x="22.2" y="15.6785" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="16.6118" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="19.4119" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="22.2117" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="25.0117" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="13.8118" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="11.0117" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="8.21167" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.2" x="11" y="5.41187" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.4" x="13.7993" y="16.6118" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.4" x="13.7993" y="8.21167" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.4" x="13.7993" y="11.0117" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.4" x="13.7993" y="13.8118" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.4" x="13.7993" y="19.4119" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.4" x="13.7993" y="22.2117" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.6" x="16.6006" y="13.8118" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.6" x="16.6006" y="16.6118" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.6" x="16.6006" y="11.0117" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.6" x="16.6006" y="19.4119" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.8" x="19.3994" y="15.6785" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.8" x="19.3994" y="12.8784" width="2.8" height="2.8" fill="black"/>
                            <rect opacity="0.8" x="19.3994" y="18.4785" width="2.8" height="2.8" fill="black"/>
                            <defs>
                                <clipPath id="bgblur_0_8609_843_clip_path" transform="translate(15.19 15.19)"><circle cx="16.4118" cy="16.4118" r="16.4118"/>
                            </clipPath></defs>
                        </svg>
                    </div>
                    <span class="!text-white !text-[1.5rem]">Play full video</span>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="relative w-full mt-[0.75rem]">
        <span class="text-[0.875rem] leading-[160%] font-secondary">{{ fields.small_caption }}</span>
    </div>
</section>