{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

{% set custom_bg = "bg-white" %}

<section class="sixty-forty {{ custom_bg }}">
  {% if block.anchor %}
    <div class="section-anchor" id="{{ block.anchor | default(block.id) }}"></div>
  {% endif %}
  {% set image = fields.image.url ? fields.image.url : '' %}
  {% set image_mobile = fields.image_mobile.url ? fields.image_mobile.url : image %}
        
  <div class="container relative z-10">
    <div class="{{ pt }} {{ pb }}">
      <div class="flex flex-col justify-between ~gap-[2rem]/[3rem]">
        <div class="inner flex max-lg:flex-col items-start justify-between ~gap-[2.5rem]/[7.5rem] {% if fields.flip_columns %} lg:flex-row-reverse {% endif %} transition-top-stagger" data-custom-delay="2000">    
          
          <div class="flex flex-col gap-sm w-full lg:w-[26.8125rem] h-auto items-start justify-center">
            <div class="w-full max-md:flex max-md:flex-col max-md:gap-[0.75rem] relative">
                {% include 'components/heading.twig' with {
                'class': 'main-title text-black',
                'value': fields.heading.value, 
                'type': fields.heading.type != "default" ? fields.heading.type : "h5",
                'has_custom_style': fields.heading.has_custom_style,
                'style': fields.heading.style,
                'to_words': true
              } %}
            </div>
            {% if fields.paragraph|length > 0 %}
              <div class="rich-text [&_p]:text-[#57514E] [&_p]:leading-[130%] [&_p]:~text-[1.25rem]/[1.125rem]">{{ fields.paragraph }}</div>
            {% endif %}
          </div>
          <div class="lg:w-[45.75rem] max-lg:h-[23.75rem] w-full h-auto ~px-[1.5rem]/[3.625rem] ~pt-[1.625rem]/[4rem] lg:pb-[4rem] lg:flex-1 flex flex-col items-center justify-center relative bg-cover" style="background-image: url({{ function('png', 'meet-sam-background') }})">
            {% if image %}
              <img class="object-cover w-full h-full lg:rounded-[1rem] rounded-bl-none rounded-br-none rounded-tl-[1rem] rounded-tr-[1rem] overflow-hidden lg:block hidden" src="{{ image }}" />
            {% endif %}
            {% if image_mobile %}
              <img class="object-cover w-full h-full lg:rounded-[1rem] rounded-bl-none rounded-br-none rounded-tl-[1rem] rounded-tr-[1rem] overflow-hidden lg:hidden block" src="{{ image_mobile }}" />
            {% endif %}
            
            {% if fields.video_file or fields.video_link %}  
              <a href="{{ fields.video_link }}" class="play-video glightbox group absolute cursor-pointer pl-[0.5rem] py-[0.5rem] pr-[2rem] rounded-[1.75rem] bg-[var(--theme-color)] hover:bg-black flex gap-[0.625rem] items-center justify-center w-auto font-tertiary-500 text-center text-[0.875rem] text-white transition-all ease-in-out duration-200">
                <div class="w-[2rem] h-[2rem] bg-white rounded-full flex items-center justify-center">
                  <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="group-hover:fill-black" d="M9.75 5.62915L4.23492e-07 11.2583L9.15609e-07 -1.52081e-05L9.75 5.62915Z" fill="#CC5500"/>
                  </svg>
                </div>
                Watch video
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
