{% set custom_class = "bg-white" %}

<section class="{{ block.slug ?? 'sixty-forty-hero' }} {{ custom_class }}">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-md" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-lg" %}
    {% set nt = fields.is_top_block ? "pt-[2.75rem]" : pt %}

    <div class="container">
        <div class="{{ nt }} {{ pb }}">            
            <div class="bg-white relative flex max-lg:flex-col items-start justify-between overflow-hidden lg:~gap-[3rem]/[9.9375rem] gap-[2rem] max-lg:py-[1.25rem]">          
          
                <div class="lg:max-w-[36.4375rem] flex flex-col items-stretch justify-between h-full transition-top relative z-50">                    
                    <div class="flex flex-col gap-sm justify-center items-start lg:min-h-[32.125rem]">
                        {% if fields.heading.value|length > 0 %}
                            <div class="w-full max-md:flex max-md:flex-col relative text-left">                        
                                {% include 'components/heading.twig' with {
                                    'class': 'main-title text-black leading-none',
                                    'indent': '<span class="max-md:hidden w-[12.5rem] h-[2.5rem] shrink-0"></span>',
                                    'value': fields.heading.value, 
                                    'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                    'has_custom_style': fields.heading.has_custom_style,
                                    'style': fields.heading.style,
                                    'to_words': true
                                } %}
                            </div>
                        {% endif %}

                        {% if fields.paragraph|length > 0 %}
                            <div class="flex flex-col items-start justify-start lg:max-w-[33.5625rem] w-full text-left">
                                <h6 class="text-[#57514E]">{{ fields.paragraph|striptags }}</h6>                            
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if fields.image %}
                    <div class="lg:max-w-[33.875rem] max-h-[33.25rem]">
                        <img class="object-cover w-full" src="{{ fields.image.url }}" />
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>