{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}
{% set bg_class = 'bg-white' %}

<section class="{{ block.slug }} {{ bg_class }} lg:h-[calc(100vh-6.515625rem)] ">
  {% if block.anchor %}
    <div class="section-anchor" id="{{ block.anchor | default(block.id) }}"></div>
  {% endif %}

  <div class="container overflow-hidden lg:h-[calc(92vh-6.515625rem)] h-[43.25rem] max-lg:px-0">
    <div class="relative flex flex-col items-center justify-center w-full h-full before:content-[''] before:z-30 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black before:bg-opacity-60">
      <div class="relative h-full gap-y-0 z-50 w-full text-center max-lg:p-[1.25rem]">
        
        <div class="transition-top-stagger transition-splitting1 flex flex-col items-center justify-center h-full gap-sm" data-custom-delay="1.25" data-custom-stagger="0.25">
          {% if fields.eyebrow or fields.eyebrow_mobile %}
            {% set eyebrow_mobile = fields.eyebrow_mobile ? fields.eyebrow_mobile : fields.eyebrow %}
            <div class="text-[var(--font-color-light)] font-tertiary py-[0.25rem] px-[1.25rem] rounded-[2.375rem] text-[0.75rem] w-auto leading-[140%] lg:min-w-[20.9375rem]" style="background: rgba(204, 85, 0, 0.80);">
              <span class="lg:block hidden">{{ fields.eyebrow }}</span>
              <span class="lg:hidden block">{{ eyebrow_mobile }}</span>
            </div>
          {% endif %}

          <div class="rotating-words-wrapper relative">
            <h1 class="flex flex-col items-center justify-center">
              {% if fields.pre_header_text %}
                <span>{{ fields.pre_header_text }}</span>
              {% endif %}
              {% if fields.rotating_header_texts %}
                <div class="rotating-words-wrapper__inner">                        
                  <span id="rotate">                   
                    {% for item in fields.rotating_header_texts %}                 
                      <span style="display: none">{{ item.text }}</span>
                    {% endfor %}
                  </span>
                </div>
              {% endif %}
              {% if fields.post_header_text %}
                <span>{{ fields.post_header_text }}</span>
              {% endif %}
            </h1>
          </div>
          
          {% if fields.paragraph|length > 0 or fields.cta.url|length > 0 %}                
            <div class="para flex flex-col items-center max-w-[34rem] !pt-0 gap-md">
                <div class="flex flex-col gap-[1rem]">
                  {% if fields.paragraph|length > 0 %}
                    <p class="para-desc text-white text-[1.125rem]">{{ fields.paragraph }}</p>
                  {% endif %}
                </div>
                {% if fields.cta.url|length > 0 %}
                    {% set custom_class = 'btn btn-light btn-hover-dark' %}							
                
                    {% include 'components/cta.twig' with {
                      'class' : custom_class,
                      'cta': fields.cta, 
                      'icon': true,
                    } %}
                {% endif %}
            </div>                
          {% endif %}
        </div>
      </div>
      
      <div class="absolute top-0 left-0 w-full h-full transition-top-stagger1 z-0" data-custom-delay="0" data-custom-stagger="0.25">        
          {% if fields.video %}
            <div class="jarallax w-full h-full" data-jarallax data-video-src="mp4:{{ fields.video.url }}"></div>
          {% else %}
            {% if fields.thumbnail %}  
              {% set image = fields.thumbnail ? fields.thumbnail.url : function('png', 'default') %}  
              {% set image_mobile = fields.thumbnail_mobile ? fields.thumbnail_mobile.url : image %}  
              
              <div data-jarallax data-speed="0.75" class="jarallax w-full h-full">            
                <img class="jarallax-img lg:block hidden" src="{{ image }}" alt="banner-image" />        
                <img class="jarallax-img lg:hidden block" src="{{ image_mobile }}" alt="banner-image-mobile" />        
              </div>
            {% endif %}
          {% endif %}                
      </div>
    </div>
  </div>

  {% if fields.list %}
    <div class="container mt-[1.75rem]">
      <ul class="flex max-lg:flex-col flex-wrap w-full lg:items-center lg:justify-center max-lg:gap-[1.5rem] max-lg:pl-0">
      {% for item in fields.list %}
        <li class="flex gap-[0.75rem] items-center before:hidden font-tertiary text-[#57514E] text-[0.75rem] max-lg:p-0">
          <div class="w-[1rem] h-[1rem]">
              <svg class="object-contain w-full h-full" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <circle cx="8" cy="8" r="8" fill="#CC5500"/>
                  <path d="M7.0577 11C6.99786 10.9998 6.9387 10.9879 6.8839 10.9651C6.8291 10.9422 6.77982 10.9089 6.73913 10.8672L4.61829 8.72083C4.53901 8.64045 4.49654 8.53341 4.50022 8.42324C4.5039 8.31308 4.55344 8.20881 4.63793 8.13339C4.72241 8.05797 4.83494 8.01757 4.95074 8.02107C5.06654 8.02458 5.17613 8.0717 5.25541 8.15208L7.05333 9.97458L10.7234 6.15521C10.7606 6.11108 10.8069 6.07467 10.8595 6.04821C10.9121 6.02174 10.9698 6.00578 11.0291 6.0013C11.0884 5.99682 11.148 6.00393 11.2043 6.02217C11.2606 6.04042 11.3124 6.06942 11.3565 6.1074C11.4006 6.14538 11.4361 6.19153 11.4607 6.24303C11.4854 6.29452 11.4987 6.35027 11.4999 6.40684C11.5011 6.46342 11.4901 6.51963 11.4676 6.57202C11.4452 6.62441 11.4117 6.67188 11.3692 6.71151L7.38062 10.863C7.34032 10.9055 7.29122 10.9396 7.23639 10.9632C7.18157 10.9868 7.12222 10.9993 7.06206 11H7.0577Z" fill="white"/>
              </svg>
          </div>
          {{ item.text }}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</section>


